[submodule "PokeD.Core"]
	path = PokeD.Core
	url = https://github.com/PokeD/PokeD.Core.git
	branch = master
[submodule "PokeD.Server"]
	path = PokeD.Server
	url = https://github.com/PokeD/PokeD.Server.git
	branch = master
[submodule "Aragas.Core"]
	path = Aragas.Core
	url = https://github.com/Aragas/Aragas.Core.git
