[submodule "PokeD.Core"]
	path = PokeD.Core
	url = https://github.com/PokeD/PokeD.Core.git
	branch = master
[submodule "PokeD.Server"]
	path = PokeD.Server
	url = https://github.com/PokeD/PokeD.Server.git
	branch = master
[submodule "PokeD.BattleEngine"]
	path = PokeD.BattleEngine
	url = https://github.com/PokeD/PokeD.BattleEngine.git
[submodule "kolben"]
	path = kolben
	url = https://github.com/PokeD/kolben
[submodule "Aragas.TupleEventSystem"]
	path = Aragas.TupleEventSystem
	url = https://github.com/Aragas/Aragas.TupleEventSystem
